if sec.post
  #post-scroll
  section(id='post').post.rel.sec
    svg.sec__img.sec__img--1
      use(xlink:href='#creuz')
    svg.sec__img.sec__img--2 
      use(xlink:href='#creuz')
    svg.sec__img.sec__img--3 
      use(xlink:href='#creuz')
    svg.sec__img.sec__img--4 
      use(xlink:href='#creuz')
    svg.sec__img.sec__img--5
      use(xlink:href='#elips')
    svg.sec__img.sec__img--6 
      use(xlink:href='#elips')
    svg.sec__img.sec__img--7 
      use(xlink:href='#elips')
    .container
      .post__body
        .post__part._enter-left
          .post__title.title
            p 01
            h2 Mes tai <br> suprantame <span> — </span>
          p.post__text
            | Jūsų verslui reikalingi klientai, o ne marketingas.Todėl savo klientams už atliekamus darbus taikome nedidelį abonentinį mokestį, o visas kitas uždarbis priklauso nuo rezultatų. Kitaip tariant, jeigu jūsų verslas negauna pajamų, užmokesčio negauname ir mes. Ir atvirkščiai: uždirbate jūs – uždirbame ir mes. Manome, kad tai pats sąžiningiausias būdas bendradarbiauti.
        form.post__part.post__part--form._enter-right
          .post__title 
            h4 Sužinokite,<br>kiek gali kainuoti<br>Jūsų potencialus klientas
          .text-field
            input#11(type='text' name='11' value='' placeholder=' Denzel Washington')
            label(for='11') Jūsų vardas
          .text-field
            input#12(type='text' name='12' value='' placeholder=' Denzel Washington')
            label(for='12') Jūsų telefono numeris
          .text-field
            input#13(type='text' name='13' value='' placeholder=' Denzel Washington')
            label(for='13') Jūsų el. paštas
          .text-field
            textarea#4(name="4" placeholder="Введите текст" )
            label(for='4') Jūsų vardas
          .fildset-checkbox
            .form-check
              input#5(type='checkbox' name="")
              label(for='5') Aš sutinku su privatumo politika
          button(type='submit' value='SUŽINOTI').btn.btn-success.but-wave SUŽINOTI
if sec.prob

  section(id='prob').rel.prob
    .imgs
      img(data-src='./img/prob-bg.webp' alt='img')
    .container
      .prob__body
        .prob__title._enter-top
          h2 Ar Jums aktualios šios<br> problemos? 
        .fildset-radio.fildset-radio--tiers._enter-top
          input(type="radio" id="prob1" name='prob' value='prob1' checked)
          label(for="prob1")  Tinklapis neparduoda
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque mollitia temporibus iusto sequi eius,
              svg
                use(xlink:href='#linie')
          input(type="radio" id="prob2" name='prob' value='prob2')
          label(for="prob2")  Neatsiperka investicijos
            p  earum, maxime, tempore cum impedit culpa quos unde. Soluta fugiat accusantium consequatur tenetur quo labore ducimus.
              svg
                use(xlink:href='#linie')
          input(type="radio" id="prob3" name='prob' value='prob3')
          label(for="prob3")  Skausminga sutartis
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo placeat consectetur earum dolorem harum voluptates asperiores aliquid,
              svg
                use(xlink:href='#linie')
          input(type="radio" id="prob4" name='prob' value='prob4')
          label(for="prob4")  Brangus paslaugų mokestis
            p  voluptatibus nihil velit? Error quisquam mollitia debitis praesentium velit voluptatem iusto, necessitatibus in!
              svg
                use(xlink:href='#linie')
          input(type="radio" id="prob5" name='prob' value='prob5')
          label(for="prob5")  Lėta agentūros reakcija
            p Investuojate daug pinigų į reklamą, bet rezultato taip ir nėra? voluptatibus nihil velit? Error quisquam mollitia debitis praesentium velit voluptatem iusto, necessitatibus in!
              svg
                use(xlink:href='#linie')
          input(type="radio" id="prob6" name='prob' value='prob6')
          label(for="prob6")  Nepatrauklus produktas
            p Investuojate daug pinigų į reklamą voluptatibus nihil velit? Error quisquam mollitia debitis praesentium velit voluptatem iusto, necessitatibus in!
              svg
                use(xlink:href='#linie')


    //- a(href="#!") © Aurimas Skaržinskas - Marketingo vadovas
    //- button(type='button' value='Готово').btn.btn-success.but-wave GAUTI PASIULYMA
    //- a(href="#!").btn.btn-success.but-wave GAUTI PASIULYMA
    //- button(type='button').btn.btn-blue button btn-blue 
    //- button.btn.btn-empty(  type='button' name='ATSILIEPIMAI' ) ATSILIEPIMAI
    //- button.btn.btn-empty.btn-empty--gauti(  type='button' name='GAUTI' ) GAUTI PASIŪLYMĄ
    //- input(type='text' placeholder='Поиск' name="")
    //- form.form-input
    //-   input#1(type='text' placeholder='Leškoti...' name="" )
    //-   label(for='1') Jūsų vardas
    //- .form-input__submit
    //-   input(type='submit')
    //-   svg
    //-     use(xlink:href='#search')

    //- .text-field
    //-   input#11(type='text' name='11' value='' placeholder=' Denzel Washington')
    //-   label(for='11') Jūsų vardas
    //- .text-field.text-field--white
    //-   input#11(type='text' name='11' value='' placeholder=' Denzel Washington')
    //-   label(for='11') Jūsų el. paštas
    //- .text-field
    //-   textarea#4(name="4" placeholder="Введите текст" )
    //-   label(for='4') Jūsų vardas
    //- .fildset-checkbox
    //-   .form-check
    //-     input#5(type='checkbox' name="")
    //-     label(for='5') Aš sutinku su privatumo politika

    //- fildset.fildset-radio
    //-   .form-check
    //-     input(type="radio" id="10" name='a' value='16-25' checked)
    //-     label(for="10")  от 16-25
    //-   .form-check
    //-     input(type="radio" id="11" name='a' value='26-35')
    //-     label(for="11")  от 26-35
    //-   .form-check
    //-     input(type="radio" id="12" name='a' value='36-45')
    //-     label(for="12")  36-45
    //-   .form-check
    //-     input(type="radio" id="13" name='a' value='55')
    //-     label(for="13")  от 45 и старше
    //- fildset.fildset-radio.fildset-radio--sex
    //-   .form-check
    //-     input(type="radio" id="14" name='s' value='man' checked)
    //-     label(for="14")  Мужчина
    //-       svg
    //-         use(xlink:href='#Union')
    //-   .form-check
    //-     input(type="radio" id="15" name='s' value='frau')
    //-     label(for="15")  Женщина
    //-       svg
    //-         use(xlink:href='#Union')
    //- .fildset-radio.fildset-radio--tema
    //-   input(type="radio" id="temadark" name='tema' value='not')
    //-   label(for="temadark")  
    //-     svg
    //-       use(xlink:href='#night')
    //-   input(type="radio" id="temalight" name='tema' value='yes' checked)
    //-   label(for="temalight") 
    //-     svg
    //-       use(xlink:href='#sun') 
    //-   span 
    //- .fildset-radio.fildset-radio--tiers
    //-   input(type="radio" id="tieresyes" name='tieres' value='yes' checked)
    //-   label(for="tieresyes")  Да
    //-   span /
    //-   input(type="radio" id="tieresnot" name='tieres' value='not')
    //-   label(for="tieresnot")  Нет
    //- fildset.fildset-rating
    //-   .fildset-rating__items
    //-     input(type="radio" id="rating5" name='rating' value='5' )
    //-     label(for="rating5")
    //-       svg
    //-         use(xlink:href='#Star-1')  
    //-     input(type="radio" id="rating4" name='rating' value='4' )
    //-     label(for="rating4")
    //-       svg
    //-         use(xlink:href='#Star-1') 
    //-     input(type="radio" id="rating3" name='rating' value='3' )
    //-     label(for="rating3") 
    //-       svg
    //-         use(xlink:href='#Star-1') 
    //-     input(type="radio" id="rating2" name='rating' value='2' )
    //-     label(for="rating2") 
    //-       svg
    //-         use(xlink:href='#Star-1') 
    //-     input(type="radio" id="rating1" name='rating' value='1' )
    //-     label(for="rating1") 
    //-       svg
    //-         use(xlink:href='#Star-1') 
    //- .select
    //-   input(type="hidden")
    //-   button.dropdown-button
    //-     span custom select
    //-     svg.icon
    //-       use(xlink:href='#down')
    //-   ul.dropdown-list
    //-     .dropdown-list-wrap
    //-       li.dropdown-list__item(data-src-value='Notes') Notes
    //-       li.dropdown-list__item(data-src-value='Photo') Photo
    //-       li.dropdown-list__item(data-src-value='Dictionary') Dictionary
    //- div(style=' width:250px; height:250px;').rel
    //-   .imgs
    //-     picture
    //-       source(srcset='./img/paralax.webp ' type='image/webp' media='(min-width: 1200px)')
    //-       source(srcset='./img/img-2.webp' type='image/webp' media='(min-width: 1000px) and (max-width: 1199px)')
    //-       source(srcset='./img/img-1.webp' type='image/webp' media='(max-width: 999px)')
    //-       img(src='./img/paralax.webp' alt='img')
if sec.clients
  section(id='clients').post.rel.sec.clients
    svg.sec__img.sec__img--1
      use(xlink:href='#creuz')
    svg.sec__img.sec__img--2 
      use(xlink:href='#creuz')
    svg.sec__img.sec__img--3 
      use(xlink:href='#creuz')
    svg.sec__img.sec__img--4 
      use(xlink:href='#creuz')
    svg.sec__img.sec__img--5 
      use(xlink:href='#creuz')
    .container
      .clients__body
        .clients__title.title._enter-top
          p 04
          h2 Tiek pajamų padėjome<br> <span> sugeneruoti mūsų</span> klientams
        .clients__title.title
          h2 5 275 000 € <span>  —</span>

        .clients__block._enter-left
          p.clients__text
            | Kalbame jums suprantama kalba, nesiekiame   perkrauti Jūsų marketingo, tinklapių kūrimo ar programavimo terminų žiniomis. Bet kurioje mūsų klientų istorijoje mes orientuojamės į  rezultatą. Padėsime jums rasti sprendimą, bet kokioje situacijoje.
          button.btn.btn-empty(  type='button' name='ATSILIEPIMAI' ) ATSILIEPIMAI
          button.btn.btn-empty.btn-empty--gauti( type='button' name='GAUTI PASIŪLYMĄ' ) GAUTI PASIŪLYMĄ
        .clients__cards._enter-right 
          .clients__card.card
            .card__img._a.rel
              .imgs
                img(data-src='./img/clients/i-1.webp' alt='img')
            p.card__info._b 19 394 užklausų
            p.card__name._c Justas Skaržinskas
            p.card__job._d Web programuotojas
          .clients__card.card
            .card__img._a.rel
              .imgs
                img(data-src='./img/clients/i-2.webp' alt='img')
            p.card__info._b 19 394 užklausų
            p.card__name._c Justas Skaržinskas
            p.card__job._d Web programuotojas
          .clients__card.card
            .card__img._a.rel
              .imgs
                img(data-src='./img/clients/i-3.webp' alt='img')
            p.card__info._b 19 394 užklausų
            p.card__name._c Justas Skaržinskas
            p.card__job._d Web programuotojas
if sec.serv

  section(id='serv')
    .post.rel.sec
      svg.sec__img.sec__img--1
        use(xlink:href='#elips')
      svg.sec__img.sec__img--3 
        use(xlink:href='#elips')
      svg.sec__img.sec__img--4 
        use(xlink:href='#elips')
      .container
        .post__body
          .post__title.title
            p 05
            h2 Mes tai <br> suprantame <span> — </span>
          p.post__text
            | Jūsų verslui reikalingi klientai, o ne marketingas.Todėl savo klientams už atliekamus darbus taikome nedidelį abonentinį mokestį, o visas kitas uždarbis priklauso nuo rezultatų. Kitaip tariant, jeigu jūsų verslas negauna pajamų, užmokesčio negauname ir mes. Ir atvirkščiai: uždirbate jūs – uždirbame ir mes. Manome, kad tai pats sąžiningiausias būdas bendradarbiauti.
          ul.post__cards
            li.post__card.card
              .card__header 
                h3 SEO
                img(src='./img/serv-1.svg' alt='serv-1')
              p Pasiekite savo klientus didžiausiame pasaulyje profesionalių tinkle. 4 iš 5 „LinkedIn" narių priima verslo sprendimus. "LinkedIn" nariu perkamoji galia yra 2x didesnė.
              a(href="!#")
                span Plačiau
                svg
                  use(xlink:href='#arrow-right')
            li.post__card.card
              .card__header 
                h3 Website
                img(src='./img/serv-2.svg' alt='serv-1')
              p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
              a(href="!#")
                span Plačiau
                svg
                  use(xlink:href='#arrow-right')
            li.post__card.card
              .card__header 
                h3 Facebook
                img(src='./img/serv-3.svg' alt='serv-1')
              p Rodykite skelbimus tikslingai auditorijai.<br>Padidinkite savo prekės ženklo žinomumą.<br>Mokėkite tik už paspaudimą.<br>Vidutinė paspaudimo kaina yra 0,10 €. Sukurkite į klientus panašias auditorijas.
              a(href="!#")
                span Plačiau
                svg
                  use(xlink:href='#arrow-right')
            li.post__card.card
              .card__header 
                h3 Google
                img(src='./img/serv-4.svg' alt='serv-1')
              p Pateikite savo skelbimą klientams būtent tą akimirką, kai jie „Google" ieško jūsų siūlomų prekių ar paslaugų. Mokėkite tik tada, kai jie spustelės skelbimą, kad apsilankytų jūsų svetainėje, arba paskambins jums.
              a(href="!#")
                span Plačiau
                svg
                  use(xlink:href='#arrow-right')
if sec.res
  section(id='res')
    .post.rel.sec
      .imgs
        img(data-src='./img/res-bg.webp' alt='img')
      .container
        .post__body
          .post__title.title
            p 06
            h2 Užsiregistruokite 10 min. <span>individualiai<br>konsultacijai</span>
          p.post__text
            | Atsakykite į 2 trumpus klausimus ir gaukite individualią konsultaciją
          ul.post__cards
            li.post__card.card
              h4 100+
              p Lietuvos ir užsienio klientų 2020 m.
            li.post__card.card
              h4 400 000 €
              p Investuota į reklamą per 2020 m.
            li.post__card.card
              h4 6 400 000 €
              p Sugeneruota pajamų klientams
          a(href="#!").btn.btn-success.but-wave Registruotis
if sec.mus
  section(id='mus')
    .post.rel.sec
      svg.sec__img.sec__img--1
        use(xlink:href='#elips')
      svg.sec__img.sec__img--2 
        use(xlink:href='#elips')
      svg.sec__img.sec__img--3 
        use(xlink:href='#elips')
      svg.sec__img.sec__img--4 
        use(xlink:href='#rund')
      svg.sec__img.sec__img--5 
        use(xlink:href='#rund')
      svg.sec__img.sec__img--6 
        use(xlink:href='#rund')
      .container
        .post__body
          .post__part
            .post__title.title
              p 07
              h2 Priežastys pasirinkti  <span>mus </span>
            .post__cols
              .post__col
                .post__item 
                  .post__num 1
                  .post__text Tinklapiai, e-parduotuvės ir skaitmeninė rinkodara iš vienų rankų
                .post__item 
                  .post__num 2
                  .post__text Skaidrus reklamos biudžetas. Pateikiame išsamią reklamos išlaidų ataskaitą
                .post__item 
                  .post__num 3
                  .post__text Priedas mokamas tik viršijus sutartą rezultatą
              .post__col
                .post__item 
                  .post__num 4
                  .post__text Vienas atsakingas asmuo visais klausimais
                .post__item 
                  .post__num 5
                  .post__text Galimybė nutraukti sutartį be papildomų finansinių išlaidų
                .post__item 
                  .post__num 6
                  .post__text Investuotas 1 € mūsų klientams atneša vidutiniškai 15-20 € pajamų
if sec.team
  section(id='team')
    .post.rel.sec
      svg.sec__img.sec__img--1
        use(xlink:href='#elips')
      svg.sec__img.sec__img--2 
        use(xlink:href='#elips')
      svg.sec__img.sec__img--3 
        use(xlink:href='#elips')
      svg.sec__img.sec__img--4 
        use(xlink:href='#rund')
      svg.sec__img.sec__img--5 
        use(xlink:href='#rund')
      svg.sec__img.sec__img--6 
        use(xlink:href='#rund')
      .container
        .post__body
          .post__title.title
            p 02
            h2 Su Jumis <span>dirbs</span>: 
          .post__team
            section(id='galCasesteam').galCases
              .galCases__body.rel
                ul._galCases-plaza-js._enter-left
                  -
                    var blocks = [
                      {src: './img/team/i-1.webp',title:'George Washington',text:'Marketingo vadovas'},
                      {src: './img/team/i-2.webp',title:'Milla Jovovich',text:'Web programuotojas'},
                      {src: './img/team/i-3.webp',title:'Zlatan Ibrahimović',text:'Plėtros vadovas'},
                      {src: './img/team/i-4.webp',title:'Dalai Lama',text:'Google skyriaus vadovė'},
                      {src: './img/team/i-2.webp',title:'Milla Jovovich',text:'Marketingo vadovas'},
                      {src: './img/team/i-3.webp',title:'Zlatan Ibrahimović',text:'Plėtros vadovas'},
                      {src: './img/team/i-4.webp',title:'George Washington',text:'Web programuotojas'},
                      {src: './img/team/i-1.webp',title:'Dalai Lama',text:'Plėtros vadovas'},
                      {src: './img/team/i-2.webp',title:'Milla Jovovich',text:'Marketingo vadovas'},
                      {src: './img/team/i-1.webp',title:'George Washington',text:'Google skyriaus vadovė'},
                      {src: './img/team/i-4.webp',title:'Dalai Lama',text:'Web programuotojas'},
                      {src: './img/team/i-3.webp',title:'Zlatan Ibrahimović',text:'Marketingo vadovas'},
                    ];

                  each block in blocks
                    li._galCases-item-js.rel
                      h3=block.title
                      .block__img.rel
                        .imgs
                          img(data-src=block.src alt='img')
                      p=block.text

                button._galCases-button-js.btn.btn-empty._enter-right
                  span More
                    svg._is-active
                      use(xlink:href='#load')
if sec.works
  section(id='works')
    .post.rel.sec
      .container
        .post__body
          .post__title.title
            p 03
            h2 Visos mūsų <span>klientų</span> svetainės : 
        section.accord#works-cases
          .accord__body._accord-js._accord-galery-js._accord-cases-js
            nav.accord__nav._accord-nav-js
              button(type='button')  Web sites
              button(type='button')  Marketing cases
              button(type='button')  Banners

            .accord__hidden._accord-hidden-js
              .accord-hidden__wrap._accord-hidden-wrap-js
                ul.accord__content._accord-content-js._accord-default-js
                  -
                    var blocks = [
                      {src: './img/works/i-14.webp'},
                      {src: './img/works/i-3.webp'},
                      {src: './img/works/i-5.webp'},
                      {src: './img/works/i-6.webp'},

                    ];
                  each block in blocks
                    li
                      img(src=block.src alt='img')
                ul.accord__content._accord-content-js
                  -
                    var blocks = [
                      {src: './img/works/i-7.webp'},
                      {src: './img/works/i-8.webp'},
                      {src: './img/works/i-9.webp'},
                      {src: './img/works/i-10.webp'},
                    ];
                  each block in blocks
                    li
                      img(data-src=block.src alt='img')
                ul.accord__content._accord-content-js
                  -
                    var blocks = [    
                      {src: './img/works/i-11.webp'},
                      {src: './img/works/i-12.webp'},
                      {src: './img/works/i-13.webp'},
                      {src: './img/works/i-15.webp'},
                      {src: './img/works/i-16.webp'},
                    ];
                  each block in blocks
                    li
                      img(data-src=block.src alt='img')

                ul.accord__content._accord-content-js
                .slider-cases.swiper-container
                  button.slider-arrow.cases-prev.js-cases-prev(type='button')
                    svg
                      use(xlink:href='#arrow-right')
                  button.slider-arrow.cases-next.js-cases-next(type='button')
                    svg
                      use(xlink:href='#arrow-right')
                  ul.swiper-wrapper
                  .swiper-pagination-cases
if sec.ques
  section(id='ques')
    .post.rel.sec
      svg.sec__img.sec__img--1
        use(xlink:href='#elips')
      svg.sec__img.sec__img--2
        use(xlink:href='#creuz')
      svg.sec__img.sec__img--3 
        use(xlink:href='#creuz')
      svg.sec__img.sec__img--4 
        use(xlink:href='#elips')
      svg.sec__img.sec__img--5 
        use(xlink:href='#elips')
      .container
        .post__body
          .post__title
            h2 Turite klausimų?
          p.post__text  Parašykite žinutę Jums patogiu būdu ir specialistas Jums atsakys pasirinktoje programėlėje
          ul.post__links
            li 
              a(href="#!")
                svg
                  use(xlink:href='#ques-1')
                span Whats App
            li 
              a(href="#!")
                svg
                  use(xlink:href='#ques-2')
                span viber
            li 
              a(href="#!")
                svg
                  use(xlink:href='#ques-3')
                span telegram
          .post__img.rel
            .imgs
              img(data-src='./img/ques-bg.webp' alt='img')
